# **LAB5 RECAP**

In this document, we are going to recall what we did in **LAB 4** and cover **LAB 5**'s content. Exercises will also be explained here.

## **LAB 4 CONTENT**

In **LAB 4** before our system quiz, we have discussed;

- Python Interpreter
- Basic arithmetic operations
- Data types
- Some methods (`abs`, `hex`, `bin`, `oct`)
- Floating point precision loss issue
- Type conversions
- Some methods for characters (`ord`,`chr`,`isalnum`, `isdigit`)

Let's recall them one by one.

### **Python Interpreter**

When we type `python` or `python3` in our terminal, we see the interpreter. Interpreter works with **REPL(read-evaluate-print-loop)** logic.

| **Python Interpreter** |
|:--:|
|<img src="static/interpreter.png" alt="interpreter" width="800"/>|
| We use `python3` in our labs |

It basically;

1. Expects statements from us
2. Evaluates them
3. Prints the result
4. Returns to step 1

So we studied next concepts using this interpreter.

### **Basic Arithmetic Operations**

We then, looked at how to form arithmetic operations with numbers. The operators we have studied were;

- **+ :** addition
- **- :** subtraction
- **\* :** multiplication
- **\*\* :** power operator (`x**2` is x<sup>2</sup>)
- **% :** modulo operator (`x % y` gives the remainder if we divide `x` to `y`)

And in addition, we can use paranthesis for determining priorities of operations. Same simple math rules apply here.

for example;

In [1]:
5 + 6*8 - 42

11

If we write the expression above in our interpreter, it evalutes the result as **11** and prints the result. We can write different expression examples;

In [2]:
5**3/6.0

20.833333333333332

In [3]:
(42**4)/(56.0**4) - 1449099

-1449098.68359375

In [4]:
5 % 3

2

In [5]:
42 % 7

0

### **Data Types**

Next, we studied some primitive **data types** in python. We have looked at;

- `int` => integer numbers
- `float` => floating point numbers
- `bool` => `True` or `False`
- `string` => list of characters

We can check **types** of expressions with `type()` function. We can use it like this;

In [6]:
type(5)

int

In [7]:
type(6.7)

float

In [8]:
type(1000000321)

int

In [9]:
type(True)

bool

In [10]:
type("Sample String")

str

Types of expressions are determined from their operands. For example lets consider;

`4 * 3.75 - 1`

First operand is an `int`, second one is `float` and third one is `int`. Since we have a `float` the result of this expression is also going to be a `float`

In [11]:
type(4 * 3.75 - 1)

float

### **ABS, HEX, BIN and OCT**

We have studied some `abs` , `hex`, `bin` and `oct` functions.

- `abs`: takes absolute value
- `hex`: shows the number in hexadecimal(base 16) format
- `bin`: shows the number in binary format(base 2)
- `oct`: shows the number in octal format(base 8)

for example;

In [12]:
abs(-5.6)

5.6

In [13]:
hex(5)

'0x5'

In [14]:
bin(9)

'0b1001'

In [15]:
oct(25)

'0o31'

We can examine types of octal

In [16]:
type(0o63)

int

binary

In [17]:
type(0b10010)

int

and octal numbers and they are all integer type;

In [18]:
type(0xABCD12)

int

### **Comparing Values**

We can compare values in python with;

- `A == B` checks if `A` is equal to `B`
- `A < B` checks if `A` is less than `B`
- `A <= B` checks if `A` is less than or equal to `B`
- `A > B` checks if `A` is greater than `B`
- `A >= B` checks if `A` is greater than or equal to `B`

These comparison expressions return bool values `True` or `False`

### **Floating Point Precision Issue**

There is a precision loss issue in python. For example in this expression;

`0.1 + 0.2`

we expect `0.3` as the result but we get;

In [19]:
0.1 + 0.2

0.30000000000000004

So if we want to check whether `0.1 + 0.2` equals to `0.3`, we will get false

In [20]:
0.1 + 0.2 == 0.3

False

In order to solve this precision problem, we use `abs` function and a small number to compare

In [21]:
abs(0.1 + 0.2 - 0.3) < 0.001

True

Now we get `True`

### **Strings**

Strings are arrays of characters. We define strings with both '' or "". However for strings, it is better to use "" because '' is mostly used for single characters in other languages. It will be a better practice.

In [22]:
type('111')

str

In [23]:
type("111")

str

We can use some arithmetic operators on strings. For example;

In [24]:
"ceng" + "111"

'ceng111'

The operation above is a **concatenation** operations. Second string is added to the end of the first string. Another example;

In [25]:
'c' + 'e' + 'n' + 'g' + "111"

'ceng111'

### **Type Conversion**

We can sometimes convert types of values to another type. For example, we can convert numeric strings to integer number with `int()` function

In [1]:
int('512')

512

In [2]:
type(int('512'))

int

`int()` function can get 2 arguments. Second argument determines the base. For example;

In [3]:
int('10101', 2)

21

In [4]:
int('777', 8)

511

We can also convert `string` values into `float` values with `float()` function.

In [5]:
float('21.231232')

21.231232

In [6]:
type(float('21.231232'))

float

In similar manner, we can also convert `float`, `int` or `bool` values into `string` with `str()` function

In [7]:
str(100)

'100'

In [8]:
str(998.123)

'998.123'

In [9]:
str(False)

'False'

### **ORD, CHR, ISALNUM and ISDIGIT**

Characters we enter from keyboard have their `ascii` values. By writing `man ascii` in our terminal we can see these numbers. In below image, we can see decimal representations of our characters.

| **Ascii Numbers** |
|:--:|
|<img src="static/ascii_numbers.png" alt="interpreter" width="500"/>|
| A compact representation of ascii numbers |

For example, by looking at this table, we can see that number of 'a' character is `97`. In python, we can play around with these numbers. Functions;

- `ord()` returns the decimal ascii number of the character
- `chr()` returns the character corresponding to that decimal number

For example;

In [10]:
ord('a')

97

In [11]:
chr(97)

'a'

When we look at the alphabetic lowercase and uppercase letters in ascii table, we see that the difference of uppercase and lowercase form of a letter is always `32`

In [12]:
ord('a') - ord('A')

32

In [13]:
ord('x') - ord('X')

32

This knowledge can be used for capitalizing characters.

We also have three other functions called `isalnum()` , `isdigit()` and `isalpha()`.

- `isalnum()` checks whether string corresponds to an alphanumeric string. So if contains characters like `.`, `-` etc. It will return false.

In [14]:
"321".isalnum()

True

In [15]:
"1233asdasdffha".isalnum()

True

In [17]:
"?.-,~asdasea31".isalnum()

False

- `idigit()` checks whether the string corresponds to a numeric value

In [18]:
"b".isdigit()

False

In [19]:
"2132131".isdigit()

True

- `isalpha()` checks whether the string corresponds alphabetic characters

In [20]:
"ABCFASDZ".isalpha()

True

In [21]:
"asdas*.*".isalpha()

False

In [22]:
"ADV2C".isalpha()

False

## **LAB5 CONTENT**

In **Lab 5**, after some recall, we dived into variable definitions. We can define variables in python like this;

In [23]:
a = 5
b = "ceng"
c = 111
d = 1.5

In [25]:
type(a)

int

We see that variable `a` is an integer and its value is 5. What will happen if we do

In [26]:
a = '5'

We have changed the value of `a` to a `string` value. We changed its type. This is allowed in python because it is a **dynamically-typed language**! In some other programming languages like `C/C++` this is not allowed.

## PRINT

We have an important built-in function called `print()`. This function prints the values and variables to the terminal.

In [27]:
print('Hello World')

Hello World

In [28]:
print("Welcome","to","Ceng", 111)

Welcome to Ceng 111

In [29]:
print(5, '+', 4, 'is', 9)

5 + 4 is 9

If we want to print `newlines` we can use `\n` while printing.

In [30]:
print("\nCENG\n111\n\nCourse")

CENG
111

Course

Similarly, we can use `\t` for using tabs while printing

In [31]:
print("\tCENG\t111\t\tCourse")

	CENG	111		Course

## ID Function

Every object(int, float, string etc.) in python has a value and id. We can think `id` as the address of that object in memory. For exmaple

In [32]:
a = 5
id(a)

9789120

It gave us an integer number which is the id of variable `a`

## Taking Input From User

We can read inputs from users with `input()` function. When program sees an `input()` function, it stops and waits for user input. After we give an input and press enter, it resumes back. For example;

In [33]:
name = input("What's your name? ") # We write Ali and press enter for example
print("Hello", name)

Hello Ali

Values we load with `input()` are strings. If we want to take values with different types, we should use **type conversion**. For example

In [35]:
number = int(input("Give a number: ")) # we enter 100
print(type(number))

<class 'int'>

In [36]:
str1 = input("Give str1: ") # "Ceng"
str2 = input("Give str2: ") # "111"
print(str1 + str2)

Ceng111

## EVAL

We can calculate results of mathematical expression strings with `eval()` function. For example;

In [37]:
eval("5 + 4**2 - 10/2 + 5%3")

18.0

So, we can read expressions from users and evaluate their results with `eval()` and use them

In [38]:
num = eval(input("Enter a mathematical expression")) # We enter "5*3 - 10"
print(num)

5

## Writing Scripts

Until this part, we have written statements in interpreter. In this part, we learnt how to write python scripts in text files and run them. We can use programs like `text editor`, `sublime text` for writing scripts. But developers like using `IDE`'s for writing code. Features like code completions, theming, seeing project structure better is desirable. `VsCode` is a good `IDE` for writing code. You can check that out.

Lets write our first script. We create a file named `summation.py` and open it. In this script, we want to take two numbers from user, add them and print the result. We write this inside `summation.py`. After we write the code, we run this script with calling `python3 summation.py` and we get the result in our terminal.

In [39]:
number1 = int(input("Enter number1: ")) # 10
number2 = int(input("Enter number2: ")) # 20

print(number1 + number2)

30

## Writing Comments

We can write comments for explaining the code we write. It is a good practice. In python, we can use comments with using `#` character. Things we write after this character is only read by humans

```python
# This is a comment line
```

We can add multiline comments with `""" """` 

```python
"""
    This is a
    multiline
    comment
"""
```

Characters inside `""" """` are only read by humans.

## LAB EXAMPLE EXPLANATIONS

There are files called `InputExampleX_xxx.py` in tihs repo. These are the exercises we did in class. We can run them with `python3 InputExampleX_xxx.py` in our termianl. Lets explain these examples.

### InputExample1_sum

It is explained above with `summation.py`

### InputExample2_average

Lets take three integer values from user and print the average.

In [40]:
# InputExample2_average.py 

num1 = int(input('Number 1: ')) # 15
num2 = int(input('Number 2: ')) # 10
num3 = int(input('Number 3: ')) # 90

average = (num1 + num2 + num3)/3

print("The average of", num1, ",", num2, "and", num3, "is", average)

The average of 15 , 10 and 90 is 38.333333333333336

## InputExample3_conversion

We wrote a script which takes a `Celsius` degree value and converts it into `Fahrenheit`

In [41]:
# InputExample3_conversion.py

C = float(input("Temperature in Celsius: ")) # 38
F = C * 9.0/5.0 + 32
print(C,'Celsius is', F, 'Fahrenheit')

38.0 Celsius is 100.4 Fahrenheit

## InputExample4_comparison

In this exercise, we take two expressions and print `True` if they equal to same number, `False` otherwise.

We calculate results of mathematical expressions with `eval()` function

Earlier, we have talked about precission loss, so checking equality with `===` operator will not work everytime. So we need to use `abs()` function and compare it with a small number `epsilon`

In [42]:
# InputExample4_comparison.py

epsilon = 0.000001
a = eval(input("expression 1: ")) # "0.1 + 0.2"
b = eval(input("expression 2: ")) # "0.3"

difference = abs(a-b)
print(difference < epsilon) # If difference is less than epsilon, than they are equal

True

## InputExample5_count

In this part, we have examined a string function called `count()`. We use it like;

`"sample_string".count('s')`

Above code prints how many `s` we see in `sample_string`

So in this exercise, we read two strings from user and print how many times we see the second string in the first one

In [43]:
# InputExample5_count.py

str1 = input("The first string: ") # "sample_string"
str2 = input("The second string: ") # "s"
print(str1.count(str2))

2

## InputExample6_max

We want to take two integer numbers and print the one which is bigger. We may use `if` statements but we did not learn them yet. To solve this exercise, we can use `abs` function like this;

In [44]:
# InputExample6_max.py

num1 = int(input("Enter number1: ")) # 90
num2 = int(input("Enter number2: ")) # 91

print(((num1+num2) + abs(num1-num2))/2)

91.0

## InputExample7_charCapitalize

In this exercise, we want to write a script which takes a lowercase letter and prints the uppercase of that letter. Normally, we may use string functions like `upper()` but this is not permitted in this exercise.

In order to solve this, we need to remember what `ord()` and `char()` functions do. We also need to remember ascii numbers.

We recall that difference of ascii values of lowercase and uppercase letters are always `32`.

Thus, using this knowledge;

In [45]:
# InputExample7_charCapitalize.py

lowercaseLetter = input("Lowercase Letter: ") # we give "g"

uppercaseLetter = chr(ord(lowercaseLetter) - 32)

print("Capitalized letter is ", uppercaseLetter)

Capitalized letter is  G