# LAB 6

In this lab, we are going to look at **strings**, **lists** and **tuples**

## Strings

Strings are sequences of characters. With numerical indexes we can access individual characters.

### Indexing

About indexing;

- Indexing starts counting from 0
- There are negative indices, they count from right to left and start with -1
- We use square bracket notation.

For example let's think we have an example string and we want to check its characters with indexing;

Strings are immutable types, so we cannot change individual characters like;

In [1]:
exampleString = "MyString"

# First Letter
print("First letter is", exampleString[0])

# Second Letter
print("Second letter is", exampleString[1])

# Last Letter
print("Last letter is", exampleString[-1])

# Letter before last letter
print("Letter before last letter is", exampleString[-2])

First letter is M
Second letter is y
Last letter is g
Letter before last letter is n

### Immutable Issue

Strings are immutable, so we cannot change its individual characters like;

In [61]:
immutableExample = "String1"

immutableExample[2] = "s"

TypeError: 'str' object does not support item assignment

For that, we need to create a new string

In [64]:
# We are slicing the string here, we will see slicing right after this example
newString = immutableExample[0:2] + 's' + immutableExample[3:]

print(newString)

Stsing1

### String Slicing

By using square bracket notation `[ ]`, we can take a slice of our strings. We declare;

- **Start** is index where slice starts. Default **0**
- **Stop** is where slice stops. This index is not included. Default is **length of string**
- **Step** tells how many characters to jump while going start to stop. Default is **1**

in the square brackets using `:` between them.

The notation will be like `stringVariable[start:stop:step]`

For example we have the string;

In [3]:
sliceString = "Hello from Lab 6 of Ceng111!"

In [4]:
sliceString[0:5]

'Hello'

In [5]:
sliceString[:9]

'Hello fro'

In [6]:
sliceString[3:12:3]

'lfm'

In [7]:
sliceString[::3]

'Hlfma6fe1!'

In [8]:
sliceString[::-1]

'!111gneC fo 6 baL morf olleH'

## String operators

**+** operator concatenates the operands. Adds right operand to the left one.

For example;

In [9]:
operand1 = "Hello "
operand2 = "Lab 6"

concatenation = operand1 + operand2

print(concatenation)

Hello Lab 6

**\*** operator takes a string **s** and an integer **i** as operands. It returns a new string which is **i** times **s** added

For example;

In [10]:
operand3 = "Hello!"

res1  = operand3 * 5

print(res1)

Hello!Hello!Hello!Hello!Hello!

In [11]:
sentence1 = "good day to you SiR!"
capitalizedSentence = sentence1.capitalize()

print(capitalizedSentence)

Good day to you sir!

## String Methods

Strings methods do not change the actual string. They return a copy of the string.



### Capitalize()

Makes first character upper and others lower;

In [69]:
sentence1 = "hello mY Friends"

capitalized1 = sentence1.capitalize()

print(capitalized1)

Hello my friends

### Lower()

Converts all letters to lowercase

In [13]:
sentence2 = "what Do YoU dO fOR a lIving?"
lowerSentence2 = sentence2.lower()

print(lowerSentence2)

what do you do for a living?

### Upper()

Converts all letters to uppercase

In [14]:
sentence3 = "i nEed sOme SLeep!"
upperSentence3 = sentence3.upper()

print(upperSentence3)

I NEED SOME SLEEP!

### Len()

Returns the length of a string. It is not a special method for strings it applies to lists etc. as well

In [70]:
lengthExample = "123456789"

len(lengthExample)

9

### Title()

Converts **first letters** of each word to uppercase and others to lowercase

In [15]:
# Let's look at sentence3 from above
titleExample = sentence3.title()

print(titleExample)

I Need Some Sleep!

### Swapcase()

Swaps cases of all letters

In [16]:
# Let's look at titleExample from above
swapCaseExample = titleExample.swapcase()

print(swapCaseExample)

i nEED sOME sLEEP!

### Count(substring, start, end)

This method returns number of time **substring** occurs in a string.

In [17]:
countExample = "Welcome to Ceng111"

countExample.count('1')

3

In [18]:
countExample.count('11')

1

In [19]:
countExample.count('e')

3

In [20]:
countExample.count('W')

1

In [21]:
# When we do not have that character
countExample.count('-')

0

In [24]:
countExample.count('e',0, 9)

2

### Find(substring, start, end)

Returns the index where **substring** first occured in the string. If it is not found, it returns **-1**

In [27]:
findExample = "seashells seashells by the seashore"

findExample.find("ea")

1

In [29]:
findExample.find('shore')

30

In [37]:
findExample.find('sea', 9, 20)

10

### Isalnum()

If all characters are letters and numbers it returns **True**, otherwise **False**

In [38]:
alphaNumStr = "Abcd121aasd"

alphaNumStr.isalnum()

True

In [39]:
nonAlphaNumStr = "Abcd123-*asd"

nonAlphaNumStr.isalnum()

False

### Isalpha

If all characters are letters it returns **True**, otherwise **False**

In [40]:
alphaStr = "AbcdEfZ"

alphaStr.isalpha()

True

In [41]:
nonAlphaStr = "Abcd123-"

nonAlphaStr.isalpha()

False

### Isdigit()

If all characters are numbers it returns **True**, otherwise **False**

In [42]:
digitStr = "123123"

digitStr.isdigit()

True

In [44]:
nonDigitStr = "asdas123**asd."

nonDigitStr.isdigit()

False

### Islower()

If all letters in the string are lowercase, it returns **True**, otherwise **False**

In [45]:
lowerStr = "asdasaktbiasda!"

lowerStr.islower()

True

In [46]:
nonLowerStr = "asdasdasdEasdas!"

nonLowerStr.islower()

False

### Isupper()

If all letters in the string are uppercase, it returns **True**, otherwise **False**

In [47]:
upperStr = "ADSASDASDC!-"

upperStr.isupper()

True

In [48]:
nonUpperStr = "ABBASASDx-!DASEC"

nonUpperStr.isupper()

False

### Lstrip(characters), Rstrip(characters) and Strip(characters)

- **lstrip(chars)** removes **leading characters**. If we don't provide characters, it removes whitespaces
- **rstrip(chars)** removes **trailing characters**. If we don't provide characters, it removes whitespaces
- **strip(chars)** removes **leading** and **trailing** characters. If we don't provide characters, it removes whitespaces.

In [54]:
stripExample = "      This is an example String      "

stripExample.lstrip()

'This is an example String      '

In [55]:
stripExample.rstrip()

'      This is an example String'

In [56]:
stripExample.strip()

'This is an example String'

### Join(iterable)

Join elements of an iterable, like a **list** (we will see lists in this lab), into a single string.

In [57]:
joinedString = '/'.join(['home', 'desktop', 'folder1'])

print(joinedString)

home/desktop/folder1

### Split(separator, maxsplit=-1)

It returns list of substrings based on separator. If we don't pass values it splits based on whitespaces

In [58]:
splitExample = "This is an example string for splitting"

splitExample.split()

['This', 'is', 'an', 'example', 'string', 'for', 'splitting']

In [59]:
splitExample.split('i',1)

['Th', 's is an example string for splitting']

## Lists

Lists in python are compound data types, we use it to group together other values in sequence

In [65]:
# A list of integers
list1 = [1,2,3,4,5]

print(list1)

[1, 2, 3, 4, 5]

In [67]:
# We can put lists inside lists (nested list)
nestedList = [1,2,3,[4,5,6],7,8]

print(nestedList)

[1, 2, 3, [4, 5, 6], 7, 8]

We can have different data types inside a list

In [68]:
typeList = [1,2,3,'asd', True, [5,6,7]]

print(typeList)

[1, 2, 3, 'asd', True, [5, 6, 7]]

## List Methods

Let's look at some methods

### Len()

Returns length of list

In [71]:
list2 = [1,2,3,4,5,6]

len(list2)

6

### Append(item)

It adds **item** to the list. It does not **return** anything! It changes the original list.

In [72]:
appendExample = ['ali', 'ayse', 'veli']

appendExample.append('kazim')

print(appendExample)

['ali', 'ayse', 'veli', 'kazim']

In [76]:
appendExample2 = [1,5, [1,2,3], 9, True, 'mehmet']

appendExample2.append([1,5,7,9])

print(appendExample2)

[1, 5, [1, 2, 3], 9, True, 'mehmet', [1, 5, 7, 9]]

### Clear()

Erases all elements from the list

In [77]:
clearExample = ['this', 'is', 'going', 'to', 'be', 0, True]

clearExample.clear()

print(clearExample)

[]

### Count(val)

Returns number of elements with specified value

In [78]:
countExample = [1,1,1,1,2,3,4,4,5,10]

countExample.count(4)

2

### Extend()

Add elements of an iterable to the end of the list

In [79]:
extendExample = [1,2,3,[4,5,6], True, False, 'a']

extendExample.extend([1,2,3,4,'abdd', False, 1.2321])

print(extendExample)

[1, 2, 3, [4, 5, 6], True, False, 'a', 1, 2, 3, 4, 'abdd', False, 1.2321]

### Index(val)

Returns index of the first element with specified value

In [80]:
indexExample = ['ali', 'ahmet', True, False, 991]

indexExample.index(True)

2

In [81]:
indexExample.index(991)

4

### Insert(position, element)

Inserts **element** to a list in the **position** index

In [82]:
insertExample = ['yellow', 'blue', 'gray']

insertExample.insert(1, "purple")

print(insertExample)

['yellow', 'purple', 'blue', 'gray']

### Pop(position)

Removes element from specified position. If position is not set, it removes the last element

In [83]:
popExample = ["a", "b", "c", "d", "e"]

popExample.pop()

print(popExample)

['a', 'b', 'c', 'd']

In [84]:
popExample.pop(0)

print(popExample)

['b', 'c', 'd']

### Remove(val)

Removes the first occurence of the element with specified **val**

In [85]:
removeExample = ["r1", "r2", "r3", "r3", "r4"]

removeExample.remove("r3")

print(removeExample)

['r1', 'r2', 'r3', 'r4']

### Reverse()

Reverses the order of elements inside the list

In [86]:
reverseExample = [1,2,3,4,5,6,7,8,9,10]

reverseExample.reverse()

print(reverseExample)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Sort(reverse, key)

Sorts the list according to **reverse**. **reverse** is **False** by default, this means that sort will be ascending. If **True** it will be descending.

**key** is a function that we can provide for sorting criterias. We did not see functions yet bet we will look at a very small example

In [87]:
sortList = [1,5,3,2,6,9,8,7,100,90000,-1]

# Sort without arguments. Ascending sort
sortList.sort()
print("Ascending Sorted:",sortList)

# Sort descending
sortList.sort(reverse=True)
print("Descending Sorted:",sortList)

Ascending Sorted: [-1, 1, 2, 3, 5, 6, 7, 8, 9, 100, 90000]
Descending Sorted: [90000, 100, 9, 8, 7, 6, 5, 3, 2, 1, -1]

In [89]:
# We define a small function
# we will look at functions in detail
def compareLength(element):
    return len(element)

sortList2 = ["Elements", "in", "this", "list", "compared", "according", "to", "their", "lengths"]

sortList2.sort(key=compareLength)

print(sortList2)

['in', 'to', 'this', 'list', 'their', 'lengths', 'Elements', 'compared', 'according']

## List operators

Similar to strings, we can use operators on lists too.

### + Operator

With **+** operator, we can add lists

In [90]:
list1 = [1,2,3]
list2 = [4,5,6]

result = list1 + list2

print(result)

[1, 2, 3, 4, 5, 6]

### * Operator

Similar to strings;

In [92]:
list1 = [1]

result = list1 * 10

print(result)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

### in Operator

It returns **True** if left value is inside the list

In [93]:
inExample = ['tomato', 'carrot', 'banana']

'banana' in inExample

True

In [94]:
'apple' in inExample

False

### not in Operator

It returns **True** if left value is not inside the list

In [96]:
'apple' not in inExample

True

### Del operator

Deletes the element inside list

In [95]:
delExample = ["el1", "el2", "el3", "el4"]

del delExample[1]

print(delExample)

['el1', 'el3', 'el4']

### We can make lists from Strings

We saw that in strings part, lets do it again

In [97]:
exampleString = "ceng111,ceng100,ceng213,ceng140,ceng331,ceng334"

courseList = exampleString.split(',')

print(courseList)

['ceng111', 'ceng100', 'ceng213', 'ceng140', 'ceng331', 'ceng334']

### Slicing

List/Tuple slicing is the same as string slicing. In addition to strings, lists also support item/slice assignment so it is not immutable like **string** and **tuple**

In [98]:
a = [1,2,3,4]

a[0] = 6

print(a)

[6, 2, 3, 4]

In [99]:
a[1:4] = ['ce','ng','111']

print(a)

[6, 'ce', 'ng', '111']

### List assignment

We can assign lists to another variables. But we have a little problem here. It is called **aliasing problem**

For example let's think;

In [100]:
a = [3,4,5]

b = a

c = a

print(b)

[3, 4, 5]

We have list **a** and we assigned it to **b** and **c**. Lets add `6` to **a** and check **b** and **c**

In [101]:
a.append(6)

print("b is:", b)

print("c is:", c)

b is: [3, 4, 5, 6]
c is: [3, 4, 5, 6]

You see that **b** and **c** is also changed. Why is that happening?

The reason is, if we assign a list, it does not actually copy everthing in it. It copies the **address** of that list. How can we solve this?

In [106]:
# We can make empty slicing because it returns a copy
a = [3,["a","b"], 5]
b = a[:]

print(a)

[3, ['a', 'b'], 5]

In [107]:
print(b)

[3, ['a', 'b'], 5]

In [108]:
a.append(6)
print(a)

[3, ['a', 'b'], 5, 6]

In [109]:
print(b)

[3, ['a', 'b'], 5]

We don't have 6 in b. It looks like it is working. But we still have a problem.

Slicing does not do deep copying, for example;

In [110]:
a = [3, ["a", "b"], 5]
b = a[:]

a[1].append('c')
print(a)

[3, ['a', 'b', 'c'], 5]

In [111]:
print(b)

[3, ['a', 'b', 'c'], 5]

`c` is also added in list b. Because when we sliced **a** and assigned it to **b**, we again copied the address of the nested list `["a","b"]`. So, when we added `c` to that list in **a**, it is also added in **b**. This is called **shallow copy**.

So, how to do deep copy?

In [114]:
# We will learn about imports later
import copy

a = [3, ["a","b"], 5]

b = copy.deepcopy(a)

a[1].append('c')
print(a)

[3, ['a', 'b', 'c'], 5]

In [115]:
print(b)

[3, ['a', 'b'], 5]

## Tuples

Tuples are similar to lists but they are **immutable** like **strings** unlike **lists**

In [116]:
tuple1 = (1,2,3)

tuple1[0]

1

In [117]:
tuple1[0] = 100

TypeError: 'tuple' object does not support item assignment

We don't need paranthesis to make a tuple. Only commas (,) are enough

In [118]:
tuple2 = 1,2

type(tuple2)

tuple

## Tuple Unpacking

In [119]:
student = ('2098929','e2098929','Eren','Dere','Ceng')

sid = student[0]
username = student[1]

print(sid)
print(username)

2098929
e2098929

In [120]:
sid, username, firstname, lastname, department = student

print(firstname)

Eren

In [121]:
print(lastname)

Dere

## Swap by tuple assignment

We can swap variables using tuple assignment like this;

In [122]:
a = 5
b = 7
a,b = b,a

print(a)

7

In [123]:
print(b)

5

### Tuple with single element

In [124]:
t = (4)
type(t)

int

It's type is an int, but if we do

In [125]:
t = (4,)
type(t)

tuple

It becomes a tuple.

## Len()

Len can be used to learn tuple element count

In [126]:
a = (1,2,3)
len(a)

3

## Type conversion

**Lists** and **Strings** can be converted to tuple using **tuple()** method

In [127]:
a = [1,2,3,4,5]
b = tuple(a)

print(b)

(1, 2, 3, 4, 5)

In [128]:
a = "ceng111"
b = tuple(a)

print(b)

('c', 'e', 'n', 'g', '1', '1', '1')

Similarly, tuples can be converted to lits using **list()** method

In [129]:
a = ('C','E','N','G')
b = list(a)
print(b)

['C', 'E', 'N', 'G']

# LAB EXERCISES

From now on, we will look at some exercises

Answers will be written in this document but normally. You need to create requested files and write code to these files. And then type `python3 filename.py` in terminal to run them.


## Reverse.py

Write a script named `reverse.py` that reads a string from the user and prints **True** if the string is a **palindrome**. Palindrome's are strings with reversed versions equal to original ones.

In [132]:
# reverse.py

inp = input('Give A String: ')
print(inp == inp[::-1])

Give A String: racecar
True

## Words.py

Write a script named `words.py` that reads a sentence composed of three words and prints each word in separate lines.

In [134]:
# words.py
sentence = input("Give a sentence with 3 words: ")

first = sentence.find(' ')
print(sentence[:first])

second = sentence[first+1:].find(' ')
print(sentence[first+1:first+second+1])

print(sentence[first+second+2:])

Give a sentence with 3 words: hello from end!
hello
from
end!