# LAB 6

In this lab, we are going to look at **strings**, **lists** and **tuples**

## Strings

Strings are sequences of characters. With numerical indexes we can access individual characters.

### Indexing

About indexing;

- Indexing starts counting from 0
- There are negative indices, they count from right to left and start with -1
- We use square bracket notation.

For example let's think we have an example string and we want to check its characters with indexing;

Strings are immutable types, so we cannot change individual characters like;

### Immutable Issue

Strings are immutable, so we cannot change its individual characters like;

For that, we need to create a new string

### String Slicing

By using square bracket notation `[ ]`, we can take a slice of our strings. We declare;

- **Start** is index where slice starts. Default **0**
- **Stop** is where slice stops. This index is not included. Default is **length of string**
- **Step** tells how many characters to jump while going start to stop. Default is **1**

in the square brackets using `:` between them.

The notation will be like `stringVariable[start:stop:step]`

For example we have the string;

## String operators

**+** operator concatenates the operands. Adds right operand to the left one.

For example;

**\*** operator takes a string **s** and an integer **i** as operands. It returns a new string which is **i** times **s** added

For example;

## String Methods

Strings methods do not change the actual string. They return a copy of the string.



### Capitalize()

Makes first character upper and others lower;

### Lower()

Converts all letters to lowercase

### Upper()

Converts all letters to uppercase

### Len()

Returns the length of a string. It is not a special method for strings it applies to lists etc. as well

### Title()

Converts **first letters** of each word to uppercase and others to lowercase

### Swapcase()

Swaps cases of all letters

### Count(substring, start, end)

This method returns number of time **substring** occurs in a string.

### Find(substring, start, end)

Returns the index where **substring** first occured in the string. If it is not found, it returns **-1**

### Isalnum()

If all characters are letters and numbers it returns **True**, otherwise **False**

### Isalpha

If all characters are letters it returns **True**, otherwise **False**

### Isdigit()

If all characters are numbers it returns **True**, otherwise **False**

### Islower()

If all letters in the string are lowercase, it returns **True**, otherwise **False**

### Isupper()

If all letters in the string are uppercase, it returns **True**, otherwise **False**

### Lstrip(characters), Rstrip(characters) and Strip(characters)

- **lstrip(chars)** removes **leading characters**. If we don't provide characters, it removes whitespaces
- **rstrip(chars)** removes **trailing characters**. If we don't provide characters, it removes whitespaces
- **strip(chars)** removes **leading** and **trailing** characters. If we don't provide characters, it removes whitespaces.

### Join(iterable)

Join elements of an iterable, like a **list** (we will see lists in this lab), into a single string.

### Split(separator, maxsplit=-1)

It returns list of substrings based on separator. If we don't pass values it splits based on whitespaces

## Lists

Lists in python are compound data types, we use it to group together other values in sequence

We can have different data types inside a list

## List Methods

Let's look at some methods

### Len()

Returns length of list

### Append(item)

It adds **item** to the list. It does not **return** anything! It changes the original list.

### Clear()

Erases all elements from the list

### Count(val)

Returns number of elements with specified value

### Extend()

Add elements of an iterable to the end of the list

### Index(val)

Returns index of the first element with specified value

### Insert(position, element)

Inserts **element** to a list in the **position** index

### Pop(position)

Removes element from specified position. If position is not set, it removes the last element

### Remove(val)

Removes the first occurence of the element with specified **val**

### Reverse()

Reverses the order of elements inside the list

### Sort(reverse, key)

Sorts the list according to **reverse**. **reverse** is **False** by default, this means that sort will be ascending. If **True** it will be descending.

**key** is a function that we can provide for sorting criterias. We did not see functions yet bet we will look at a very small example

In [89]:
# We define a small function
# we will look at functions in detail
def compareLength(element):
    return len(element)

sortList2 = ["Elements", "in", "this", "list", "compared", "according", "to", "their", "lengths"]

sortList2.sort(key=compareLength)

print(sortList2)

['in', 'to', 'this', 'list', 'their', 'lengths', 'Elements', 'compared', 'according']

## List operators

Similar to strings, we can use operators on lists too.

### + Operator

With **+** operator, we can add lists

In [90]:
list1 = [1,2,3]
list2 = [4,5,6]

result = list1 + list2

print(result)

[1, 2, 3, 4, 5, 6]

### * Operator

Similar to strings;

In [92]:
list1 = [1]

result = list1 * 10

print(result)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

### in Operator

It returns **True** if left value is inside the list

In [93]:
inExample = ['tomato', 'carrot', 'banana']

'banana' in inExample

True

In [94]:
'apple' in inExample

False

### not in Operator

It returns **True** if left value is not inside the list

In [96]:
'apple' not in inExample

True

### Del operator

Deletes the element inside list

In [95]:
delExample = ["el1", "el2", "el3", "el4"]

del delExample[1]

print(delExample)

['el1', 'el3', 'el4']

### We can make lists from Strings

We saw that in strings part, lets do it again

In [97]:
exampleString = "ceng111,ceng100,ceng213,ceng140,ceng331,ceng334"

courseList = exampleString.split(',')

print(courseList)

['ceng111', 'ceng100', 'ceng213', 'ceng140', 'ceng331', 'ceng334']

### Slicing

List/Tuple slicing is the same as string slicing. In addition to strings, lists also support item/slice assignment so it is not immutable like **string** and **tuple**

In [98]:
a = [1,2,3,4]

a[0] = 6

print(a)

[6, 2, 3, 4]

In [99]:
a[1:4] = ['ce','ng','111']

print(a)

[6, 'ce', 'ng', '111']

### List assignment

We can assign lists to another variables. But we have a little problem here. It is called **aliasing problem**

For example let's think;

In [100]:
a = [3,4,5]

b = a

c = a

print(b)

[3, 4, 5]

We have list **a** and we assigned it to **b** and **c**. Lets add `6` to **a** and check **b** and **c**

In [101]:
a.append(6)

print("b is:", b)

print("c is:", c)

b is: [3, 4, 5, 6]

c is: [3, 4, 5, 6]

You see that **b** and **c** is also changed. Why is that happening?

The reason is, if we assign a list, it does not actually copy everthing in it. It copies the **address** of that list. How can we solve this?

In [106]:
# We can make empty slicing because it returns a copy
a = [3,["a","b"], 5]
b = a[:]

print(a)

[3, ['a', 'b'], 5]

In [107]:
print(b)

[3, ['a', 'b'], 5]

In [108]:
a.append(6)
print(a)

[3, ['a', 'b'], 5, 6]

In [109]:
print(b)

[3, ['a', 'b'], 5]

We don't have 6 in b. It looks like it is working. But we still have a problem.

Slicing does not do deep copying, for example;

In [110]:
a = [3, ["a", "b"], 5]
b = a[:]

a[1].append('c')
print(a)

[3, ['a', 'b', 'c'], 5]

In [111]:
print(b)

[3, ['a', 'b', 'c'], 5]

`c` is also added in list b. Because when we sliced **a** and assigned it to **b**, we again copied the address of the nested list `["a","b"]`. So, when we added `c` to that list in **a**, it is also added in **b**. This is called **shallow copy**.

So, how to do deep copy?

In [114]:
# We will learn about imports later
import copy

a = [3, ["a","b"], 5]

b = copy.deepcopy(a)

a[1].append('c')
print(a)

[3, ['a', 'b', 'c'], 5]

In [115]:
print(b)

[3, ['a', 'b'], 5]

## Tuples

Tuples are similar to lists but they are **immutable** like **strings** unlike **lists**

In [116]:
tuple1 = (1,2,3)

tuple1[0]

1

In [117]:
tuple1[0] = 100

TypeError: 'tuple' object does not support item assignment

We don't need paranthesis to make a tuple. Only commas (,) are enough

In [118]:
tuple2 = 1,2

type(tuple2)

tuple

## Tuple Unpacking

In [119]:
student = ('2098929','e2098929','Eren','Dere','Ceng')

sid = student[0]
username = student[1]

print(sid)
print(username)

2098929

e2098929

In [120]:
sid, username, firstname, lastname, department = student

print(firstname)

Eren

In [121]:
print(lastname)

Dere

## Swap by tuple assignment

We can swap variables using tuple assignment like this;

In [122]:
a = 5
b = 7
a,b = b,a

print(a)

7

In [123]:
print(b)

5

### Tuple with single element

In [124]:
t = (4)
type(t)

int

It's type is an int, but if we do

In [125]:
t = (4,)
type(t)

tuple

It becomes a tuple.

## Len()

Len can be used to learn tuple element count

In [126]:
a = (1,2,3)
len(a)

3

## Type conversion

**Lists** and **Strings** can be converted to tuple using **tuple()** method

In [127]:
a = [1,2,3,4,5]
b = tuple(a)

print(b)

(1, 2, 3, 4, 5)

In [128]:
a = "ceng111"
b = tuple(a)

print(b)

('c', 'e', 'n', 'g', '1', '1', '1')

Similarly, tuples can be converted to lits using **list()** method

In [129]:
a = ('C','E','N','G')
b = list(a)
print(b)

['C', 'E', 'N', 'G']

# LAB EXERCISES

From now on, we will look at some exercises

Answers will be written in this document but normally. You need to create requested files and write code to these files. And then type `python3 filename.py` in terminal to run them.


## Reverse.py

Write a script named `reverse.py` that reads a string from the user and prints **True** if the string is a **palindrome**. Palindrome's are strings with reversed versions equal to original ones.

In [132]:
# reverse.py

inp = input('Give A String: ')
print(inp == inp[::-1])

Give A String: racecar

True

## Words.py

Write a script named `words.py` that reads a sentence composed of three words and prints each word in separate lines.

In [134]:
# words.py
sentence = input("Give a sentence with 3 words: ")

first = sentence.find(' ')
print(sentence[:first])

second = sentence[first+1:].find(' ')
print(sentence[first+1:first+second+1])

print(sentence[first+second+2:])

Give a sentence with 3 words: hello from end!

hello

from

end!